<div class="container p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{planta}}
                        </h3>
                    <p class="m-2">{{descripcion}}</p>
                    <p class="text-muted">
                        {{timeago fechaConstruccion}}
                    </p>
                    <a class="btn btn-danger" href="/links/delete/{{cveDepartamento}}">
                        Eliminar 
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{cveDepartamento}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ningun departamento registrado.</p>
                <a href="/links/add">Registrar departamento.</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>